article {
   display: grid;
   grid-template-columns:repeat(6, 160px);
}
.box {
   margin: 10px;
   width:150px;
   height: 150px;
   display: flex;            
   justify-content: center;
   align-items: center;            
}