body {
   background-color: white;
   padding:10px;
}
p {
   font-family: 'Merriweather', serif;
   margin: 10px;
   width: 400px;
   background-color: gainsboro;
}

#p1 {

}
#p2 {
   
}
#p3 {
   
}
#p4 {
   
}
#p5 {
   
}