.bg-paint-425 {
   background-image: url(../images/106020.jpg);
}
.bg-paint-579 {
   background-image: url(../images/112020.jpg);
}
.bg-paint-437 {
   background-image: url(../images/113010.jpg);
}
.bg-paint-542 {
   background-image: url(../images/134020.jpg);
}

