body
{
   font-family: "Open Sans", "Arial", sns-serif;
   margin: 0;
   padding: 0;
   background-color: white; 
   min-width: 800px;
   min-height: 400px
}
main { margin-left: 5px;}
article {
  margin: 1em;
}
article h2 {
    width: 100%;
    text-align:center;
}
figure
{
  float: left; 
  margin: 0 3em 0 0;
  padding: 0;
  transition: all 0.5s
}
figcaption {
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 2em;
}
img
{
  transition: all 0.5s;
}


/* Filter styles */



/* preview the difference */


